/*html{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}*/
body.ng-scope{
  font-family: 'Harmattan', sans-serif;
  /*background-color: #009999;*/
  /*background-image: url('../img/blue.jpg');*/
  /*height: 100%;
  background-repeat: no-repeat;
  background-size: cover;*/

}

/*.background{
  background-image: url("../img/tw.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size:contain;
}*/

/* icon */
img{
  height: 120px;
  width: 120px;
}
.jacket{
  background-color: white;
  border-radius: 10px;
}

.title-jacket{
  background-color: none;
  margin-top: 10px;
}

.fa .fa-user-plus{
  height: 50px;
  width: 50px;
}

.ww{
  height: 35px;
  width: 35px;
  border: 5px solid #009999;
}


ul{
  list-style: none;
  padding: 0;
}


button:focus {
  outline:0;
}


.title{
  color: #009999;
  background-color: #f1f7f7;
  font-size: 100px;
  text-align: center;
}

.tweetbar{
  text-align: center;
}

.follow.tweed{
  background-color: #009999;
  color: white;
}

.look{
  height:60px;
  width: 600px;
  border-radius: 20px;
  border: 0.5px solid gray;
  text-align: center;
  font-size: 30px;
}

.look:focus{
  outline:0;
}



.follow{
  background-color: #f1f7f7;
  /*background-color: white;*/
  color: black;
  padding: 10px 30px 10px;
  font-size: 20px;
  border: 0.5px solid #f1f7f7;
  border-radius: 20px;
}

.following{
  background-color: white;
}

.follower{
  background-color: red;
}


.followBtn{
  color: white;
  background-color: #85bef7;
  font-weight: bold;
}

.followingBtn{
  color: black;
  background-color: white;
  font-weight: bold;
  border: none;
}



.userid{
  display: inline-block;
  font-size: 50px;
}

.user{
  display: inline-block;
}

/*div.row.wrap.ng-scope{
  display: inline-block;
  text-align: center;
}*/

.profile{
  background-color: rgba(124, 124, 124, 0.2);
  /*padding: 5px;*/
  /*border: 4px solid lightgray;*/
  /*border-radius: 20px;*/
  text-align: center;
  /*display: inline-block;*/
}


.wrapper {
  margin: 0 auto;
  width: 70%;
  max-width: 960px;
}



/* --- PROFILE PAGE --- */

.tweet-list {
  text-align: center;
}

.tweet {
  background: #f1f7f7;
  margin: 2rem 0 auto;
  padding: 1rem;
  border-radius: 20px;
}


.search{
  height: 100px;
  text-align: center;
}

ul.followingUsers.ng-scope{
  border: 4px solid gray;
  border-radius: 20px;
}

h1.ng-binding{
  display: inline-block;
}

.you{
  background-color: rgba(255,255,255,0.4);
  height: 200px;
  width: 400px;
  border-radius: 60px;
  float: left;
}


.profile{
  background-color: white;
}

.backgray{
  background-color: #f1f7f7;
}

.followNumbers{
  background-color: #009999;
  color: white;
  margin-left: 5px;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
  display: inline-block;
}
