<!DOCTYPE html>
<div class="row wrapper">
  <div class="tweet profile-wrap">
    <h1 clss="col-xs-12 you">
      <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
      {{userId}}
    </h1>
    <div class="usersInformation">
      {{usersInformation.introduction}}
      <br>
      <h3>Location : {{usersInformation.location}}</h3>
    </div>
    <button class="follow" ng-if="loginState === true" ng-click="tweeds()">Tweeds<span class="followNumbers">{{tweedsMount}}</span></button>
    <button class="follow" ng-if="loginState === true" ng-click="showFollowers()">Follower<span class="followNumbers">{{numberOfFollowers}}</span></button>
    <button class="follow" ng-if="loginState === true" ng-click="showSubfriend()">Follow<span class="followNumbers">{{number}}</span></button>
    <a href=""><button class="follow edit-button" ng-if="loginState === true">Edit</button></a>
    <button class="follow tweed box" ng-if="tweedingStatement === false" ng-click="letsTweed()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    <button class="follow tweed box red" ng-if="tweedingStatement === true" ng-click="letsTweed()"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div ng-if="tweedingStatement === true">
      <form ng-if="loginState === true" method="post" ng-submit="tweet(text)" class="tweetbar">
        <input type="text" ng-model="text" class="look tweed-box">
        <button type="Submit" class="follow tweed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </form>
    </div>
    <!-- tweeds -->
    <ul ng-if="followingUserState === true && tweedState === false && followerState === false">
      <li ng-repeat="result in results" class="tweet">
        <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
        <a ui-sref="profile({userID: tweet.userID})" class="user">{{result.following}}</a>
      </li>
    </ul>
    <ul ng-if="followingUserState === false && tweedState === false && followerState === true">
      <li ng-repeat="follower in followers" class="tweet">
        <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
        <a ui-sref="profile({userID: tweet.userID})" class="user">{{follower.follower}}</a>
      </li>
    </ul>
    <ul ng-if="followingUserState === false && tweedState === true && followerState === false">
      <li ng-repeat="tweet in tweets" class="tweet">
        <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
        <!-- <a ui-sref="profile({userID: tweet.userID})" class="user"> -->
        <h2>{{tweet.userID}}</h2>
        <!-- </a> -->
        <h4>{{tweet.text}}</h4>
        <h5>{{tweet.timestamp | date:'medium'}}</h5>
      </li>
    </ul>
</div>
