<!DOCTYPE html>
<!-- When u search  -->
<div class="row wrapper">
    <div class="row">
      <div class="col-xs-12 profile">
        <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
        <h3 class="userid">{{tweets[0].userID}}</h3>
        <button class="follow followBtn" ng-if="loginState === true && connectingStatement === true" ng-click="follow()" ng-show="userStatement">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
        <button class="follow following" ng-if="loginState === true && connectingStatement === false" ng-click="unfollow()">Following</button>
        <button class="follow" ng-if="loginState === true" ng-click="tweeds()">Tweeds<span class="followNumbers">{{tweedsMount}}</span></button>
        <button class="follow" ng-if="loginState === true" ng-click="showFollowers()">Follower<span class="followNumbers">{{numberOfFollowers}}</span></button>
        <button class="follow" ng-if="loginState === true" ng-click="showSubfriend()">Follow<span class="followNumbers">{{number}}</span></button>
      </div>
    </div>


    <div class="row" ng-if="followingUserState === false && tweedState === true && followerState ===false">
      <!-- standart -->
      <ul class="col-xs-12 tweet-list">
        <li class="tweet" ng-repeat="tweet in tweets">
          <h3>{{tweet.userID}}</h3>
          <h3>{{tweet.text}}</h3>
          <h5>{{tweet.timestamp | date:'medium'}}</h5>
        </li>
      </ul>
    </div>

    <div class="row" ng-if="followingUserState === false && tweedState === false && followerState ===true">
      <ul class="col-xs-12">
        <li class="tweet" ng-repeat="followers in getfollowers">
          <h4>{{followers.follower}}</h4>
        </li>
      </ul>
    </div>

    <div class="row" ng-if="followingUserState === true && tweedState === false && followerState ===false">
      <!-- see this persons following -->
      <div class="col-xs-12">
        <ul class="followingUsers">
          <li class="tweet" ng-repeat="subs in subfriend">
            <h2>
              <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
              {{subs.following}}
            </h2>
          </li>
        </ul>
      </div>
    </div>

</div>
