<!DOCTYPE html>
<!-- When u search  -->
<div class="row wrapper">
    <div class="row">
      <div class="col-xs-12 profile">
        <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
        <h3 class="userid">{{tweets[0].userID}}</h3>
        <button class="follow followBtn" ng-if="loginState === true && followingState === true"
       ng-click="follow(tweets[0].userID)">Follow</button>
        <button class="follow followBtn followingBtn" ng-if="loginState === true && followingState !== true"
     ng-click="follow(tweets[0].userID)">Following</button>
        <button class="follow" ng-if="loginState === true" ng-click="showSubfriend(tweets[0].userID)">Friends</button>
      </div>
    </div>


    <div class="row" ng-show="normal">
      <!-- standart -->
      <ul class="col-xs-12 tweet-list">
        <li class="tweet" ng-repeat="tweet in tweets">
          <h3>{{tweet.userID}}</h3>
          <h3>{{tweet.text}}</h3>
          <h5>{{tweet.timestamp | date:'medium'}}</h5>
        </li>
      </ul>
    </div>

    <div class="row"  ng-hide="normal">
      <!-- see this persons following -->
      <div class="col-xs-12">
        <ul class="followingUsers">
          <li ng-repeat="subs in subfriend">
            <h2>
              <img src="img/jacket.svg" alt="jacket_icon" class="jacket"/>
              {{subs.following}}
            </h2>
          </li>
        </ul>
      </div>
    </div>

</div>
