<!DOCTYPE html>
<!-- When u search  -->
<div class="row">
  <div class="col-xs-12">
    <h3 class="userid">{{tweets[0].userID}}</h3>
    <button class="follow" ng-if="loginState === true" ng-click="follow(tweets[0].userID)">Follow</button>
    <button class="weed" ng-if="loginState === true" ng-click="showSubfriend(tweets[0].userID)">following friends</button>
  </div>
</div>

<div class="row"  ng-show="normal">
  <!-- standart -->
  <div class="col-xs-12">
    <div class="container-fluid">
      <ul ng-repeat="tweet in tweets" class="twt">
        <h3>{{tweet.userID}}</h3>
        <h3>{{tweet.text}}</h3>
        <h5>{{tweet.timestamp | date:'medium'}}</h5>
      </ul>
    </div>
  </div>
</div>

<div class="row"  ng-hide="normal">
  <!-- see this persons following -->
  <div class="col-xs-12">
    <div class="container-fluid">
      <ul ng-repeat="subs in subfriend">
        <h2 class="followingUsers">
          {{subs.following}}
        </h2>
      </ul>
    </div>
  </div>
</div>
